@using CodeTestTotal.ViewModel
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="mensajeDeContacto">
    <h3 class="mb-3" style="margin-top:1em;">TotalSell</h3>
</div>

<div class="container ">

    <form asp-controller="User" asp-action="Login" class="formContacto">
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Nombre de usuario</label>
            <input asp-for="Username" class="form-control controls " />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Contraseña</label>
            <input asp-for="Password" class="form-control controls " />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>


        <div class="class-check">
            <input class="form-check-input" type="checkbox" asp-for="RememberMe"/>
            <label class="form-check-label" asp-for="RememberMe">Recuérdame</label>
        </div>

        <button type="submit" class="btn-lg btnEnviar">Login</button>
        <a class="btn btn-outline-success" asp-action="Register">Crear una nueva cuenta</a>
    </form>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>
