* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.mensajeDeContacto {
    text-align: center;
}
/*Users Views*/
.formContacto {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

    .formContacto button {
        color: white;
        text-decoration: none;
    }

        .formContacto button:hover {
            color: white;
            text-decoration: underline;
        }

    .formContacto button {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }

@media (max-width: 600px) {

    .formContacto {
        width: 100% !important;
    }
}

@media (max-width: 800px) {

    .formContacto {
        width: 60% !important;
    }
}


/*End users views*/
.misMascotas {
    display: flex;
    flex-wrap: wrap;
}

.Mascota {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.Mascota_foto {
    width: 180px;
    height: 140px;
    border-radius: 1em;
    border: 1px double black;
}

.Mascota_imagenes {
    display: inline-block;
    position: relative;
}

.mascota_tipo {
    background-color: white;
    position: absolute;
    bottom: -1em;
    right: -1em;
    border-radius: 5em;
    padding: .3em;
    border: 1px solid black;
    width: 3em;
}

.Mascota h2 {
    background-color: white;
    font-size: 1.2em;
    padding: 0em 0em 0em 0em;
}

.btnInfo {
    text-decoration: none;
    background-color: #bbc4bd;
    color: whitesmoke;
    font-size: 1.2em;
    margin-top: .2em;
    text-align: center;
    border-radius: 10em;
}

.AgregarMascota {
    position: absolute;
    bottom: 5em;
    right: 5em;
    border: 1px solid black;
    border-radius: 2em;
    padding: 1em;
    background-color: rgb(90, 198, 90);
}
/*END*/


/*NewOrder.cshtml*/
/* The Modal (background) */
/*.modal {
    display: none;*/ /* Hidden by default */
/*position: fixed;*/ /* Stay in place */
/*z-index: 1;*/ /* Sit on top */
/*left: 0;
    top: 0;
    width: 100%;*/ /* Full width */
/*height: 100%;*/ /* Full height */
/*overflow: auto;*/ /* Enable scroll if needed */
/*background-color: rgb(0,0,0);*/ /* Fallback color */
/*background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
/*padding-top: 60px;
}*/

/* Modal Content/Box */
/*.modal-content {
    background-color: #fefefe;
    margin: 5px auto;*/ /* 15% from the top and centered */
/*border: 1px solid #888;
    width: 80%;*/ /* Could be more or less, depending on screen size */
/*}*/

/* The Close Button */
/*.close {*/
/* Position it in the top right corner outside of the modal */
/*position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}*/

/* Close button on hover */
/*.close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }*/

/* Add Zoom Animation */
/*.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}*/


.formNewOrder {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 30%;
    margin: 0 auto;
}

.formContent {
    display: flex;
    flex-direction: column;
}

    .formContent label {
        margin-top: 1em;
    }


.formNewOrder input[type="text"], .formNewOrder input[type="number"] {
    text-align: center;
    border: none;
    font-size: 1.2em;
    font-weight: bolder;
}

.btnContainer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

    .btnContainer button {
        margin-top: .3em;
        background-color: white;
    }

.PetData {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: .5em;
}

.PetData div p {
    width: 5em;
    border: 1px double black;
    border-radius:1em;
    margin: 0;
    text-align:center;
}

.PetData div p:first-child {
    text-align:left !important;
    border:none;
}

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}*/
/*ENNNND*/


/*CSS "MY ORDERS" */
.OrderListItem {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 0 auto;
    border: 1px double black;
    border-radius: 1em;
    margin-top: 1em;
    padding: .5em;
    align-items: center;
    justify-content: center;
}

.OrderList h2 {
    text-align: center;
}

.petImg {
    width: 5em;
    border: 1px double black;
    border-radius: 5em;
}

.OrderData {
    width: 100%;
    display: flex;
}

    .OrderData p {
        margin-left: 1em;
        font-size: 1em;
    }

.OrderDespachadoData p:first-child {
    margin-bottom: .5em;
    font-weight: bold;
}

.OrderDespachadoData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .OrderDespachadoData img {
        width: 2em;
    }

.dataDespacho {
    margin: 0;
}
/*END*/