* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.mensajeDeContacto {
    text-align: center;
}
/*Users Views*/
.formContacto {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

    .formContacto button {
        color: white;
        text-decoration: none;
    }

        .formContacto button:hover {
            color: white;
            text-decoration: underline;
        }

    .formContacto button {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }




/*End users views*/
.misMascotas {
    display: flex;
    flex-wrap: wrap;
}

.Mascota {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 9px 15px 20px 0px #a6bde3;
    -moz-box-shadow: 9px 15px 20px 0px #a6bde3;
    box-shadow: 9px 15px 20px 0px #a6bde3;
}

.Mascota_foto {
    width: 180px;
    height: 140px;
    border-radius: 1em;
}

.Mascota_imagenes {
    display: inline-block;
    position: relative;
}

.mascota_tipo {
    background-color: white;
    position: absolute;
    bottom: -1em;
    right: -.5em;
    border-radius: 5em;
    padding: .3em;
    border: 1px solid black;
    width: 3em;
}

.Mascota h2 {
    background-color: white;
    font-size: 1.2em;
    padding: 0em 0em 0em 0em;
}

.btnInfo {
    text-decoration: none;
    background-color: #2196f3;
    color: white;
    font-size: 1.2em;
    margin-top: .2em;
    text-align: center;
    border-radius: .3em;
    border: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

    .btnInfo:hover {
        color: #fff; /* color de fuente hover */
        background-color: rgb(58, 125, 202 );
    }


.AgregarMascota {
    width: 2em;
}
/*END*/


.sectionNewOrder {
    width: 40%;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 7px 13px 37px #000;
}

.formNewOrder {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 30%;
    margin: 0 auto;

}
    .formNewOrder button {
        width: 100%;
        /*LightGreen*/
        transition: 0.3s;
        background-color: #2196f3;
        text-decoration: none;
        padding: .5em;
        border-radius: .2em;
        margin-top: .2em;
    }
.formContent {
    display: flex;
    flex-direction: column;
}

    .formContent label {
        margin-top: 1em;
    }


.formNewOrder input[type="text"], .formNewOrder input[type="number"] {
    text-align: center;
    border: none;
    font-size: 1.2em;
    font-weight: bolder;
}

.btnContainer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

    .btnContainer button {
        margin-top: .3em;
        background-color: white;
    }

.PetData {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: .5em;

}

    .PetData div p {
        width: 5em;
        border: 1px double rgb(16, 67, 126);
        border-radius: 1em;
        margin: 0;
        text-align: center;
    }

        .PetData div p:first-child {
            text-align: center !important;
            border: none;
        }

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}*/
/*ENNNND*/


/*CSS "MY ORDERS" */
.OrderList {
    background-color: white;
    width: 40%;
    margin: 0 auto;
    border-radius: 1em;
    padding: 1em;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.OrderListItem {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    border: 1px double black;
    border-radius: 1em;
    margin-top: 1em;
    padding: .5em;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.OrderList h2 {
    text-align: center;
}

.petImg {
    width: 5em;
    border: 1px double black;
    border-radius: 5em;
}

.OrderData {
    width: 100%;
    display: flex;
}

    .OrderData p {
        margin-left: 1em;
        font-size: 1em;
    }

.OrderDespachadoData p:first-child {
    margin-bottom: .5em;
    font-weight: bold;
}

.OrderDespachadoData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .OrderDespachadoData img {
        width: 2em;
    }

.dataDespacho {
    margin: 0;
}
/*END*/



/*ListClientPets*/
.ListClients {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 15%;
    height: 100%;
    margin-left: 1em;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }


img {
    border-radius: 5px 5px 0 0;
}

.button {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 10px 24px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    margin-top: .2em;
    margin-bottom: .2em;
    border-radius: .3em;
    text-decoration: none;
    text-align: center;
}

.info {
    background-color: #2196f3;
    transition: 0.3s;
}
    /* Blue */

    .info:hover {
        background: #0b7dda;
    }

.buttonsContainer {
    display: flex;
    flex-direction: column;
}

.clientName {
    margin: 0;
    padding-top: .5em;
    padding-left: .5em;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}


/*ENDDD*/


/*_ListPets.cshtml partial view*/
.ClientPets {
    background-color: white;
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
}

    .ClientPets p {
        margin: 0;
    }

.ClientPetsItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    border: 1px double black;
    border-radius: 1em;
    margin-top: 1em;
    padding: .5em;
    align-items: center;
    justify-content: center;
}

.ClientPets h2 {
    text-align: center;
}

.petImg {
    width: 7em;
    border: 1px double black;
    border-radius: 1em;
}

.petData {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

    .petData p {
        margin-left: 1em;
        font-size: 1em;
    }



.dataDespacho {
    margin: 0;
}

.imgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .imgDiv p {
        font-size: 1.3em;
        margin: 0;
    }

.watchOrders {
    background-color: cornflowerblue;
    border-radius: 1em;
    padding: .5em;
}

.petOrdersData p:first-child {
    margin-bottom: .3em;
    font-weight: bold;
}

.petOrdersData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .petOrdersData img {
        width: 2.3em;
    }
/*ENDD*/


/*ListSellers.cshtml*/

.sectionListSellers {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Tarjeta {
    text-align: center;
    margin: 1em;
    width: 25%;
    border-radius:1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}
.Tarjeta-body {
    display: flex;
    flex-direction: row;
    border: 1px solid #91a5c7;
    padding: .5em;
    border-radius: 1em;
}

.Tarjeta-encabezado {
    border-right: .5px double #a6bde3;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(16, 67, 126);
}

.Tarjeta-contenedorDatosVendedor {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}

.Tarjeta-btnInfo {
    width: 100%;
    /*LightGreen*/
    transition: 0.3s;
    background-color: #2196f3;
    text-decoration:none;
    color: white;
    padding: .5em;
    border-radius: .2em;
    margin-top: .2em;
}
.Tarjeta-btnInfo:hover {
    color: #fff; /* color de fuente hover */
    background-color: rgb(58, 125, 202 );
}

.Tarjeta-contenedorDatosDiarios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(16, 67, 126);
}

.Tarjeta-contenedorDatosHistoricos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(16, 67, 126);
}

    .Tarjeta-contenedorDatosHistoricos p, .Tarjeta-contenedorDatosDiarios p {
        margin-left: 1em;
        margin-bottom: 0;
        font-size: 1.1em;
    }

.Tarjeta h5 {
    margin: 0;
}


.tituloDatosVendedor {
    font-size: 1.1em;
    text-align: left;
    color: rgb(16, 67, 126);
    margin: 0;
    margin-top: .3em;
}

/*ENDD*/


.btn-success {
    box-shadow: 0 4px 8px 0 #a6bde3;
    transition: 0.3s;
}

.centrarColumna{
    text-align:center;
}


@media (max-width: 1200px) {

    .formContacto {
        width: 60% !important;
    }
    .Tarjeta {
        width: 50% !important;
    }

    .card{
        width:35%;
    }
}

@media (max-width: 500px) {

    .formContacto {
        width: 60% !important;
    }

    .Tarjeta {
        width: 100% !important;
    }

    .card {
        width: 90%;
    }
    .ClientPetsItem{
        width:90%; 
    }
    .ClientPets{
        width:90%;
    }


}


@media (max-width: 900px) {
    .ClientPetsItem {
        width: 80%;
    }

    .ClientPets {
        width: 80%;
    }

    .OrderList {
        width: 90%;
    }

    .OrderListItem {
        width: 90%;
    }
}
@media (max-width: 1200px) {

    .ClientPetsItem {
        width: 60%;
    }

    .ClientPets {
        width: 60%;
    }
    .OrderList {
        width: 70%;
    }

    .OrderListItem {
        width: 70%;
    }
}